
[Desktop Entry]
Exec=gksu /usr/sbin/lilosetup.py
Icon=lilosetup
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;System;Settings;
Name=Lilo Setup
GenericName=Lilo set-up tool
GenericName[da]=Lilo konfiguration
GenericName[de]=Lilo Konfiguration
GenericName[fr]=Configuration Lilo
GenericName[ja]=Lilo の設定
GenericName[no]=Lilo konfigurasjon
GenericName[pl]=Lilo konfiguracji
GenericName[pt_PT]=Lilo configuração
Comment=Set up Lilo from a LiveCD or a standard system.
Comment[fr]=Installer Lilo à partir d'un LiveCD ou d'un système standard.
